<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>866561535012-54tnshtummbg7uq7uv5hllt664k5g7sb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866561535012-54tnshtummbg7uq7uv5hllt664k5g7sb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>866561535012-eb44lus1bjgvnvuc4oonj1tlp08e0jm1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC2UPx2ZgIsETH3nsqgU4bBlqJfHysr_G4</string>
	<key>GCM_SENDER_ID</key>
	<string>866561535012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.im30.warz</string>
	<key>PROJECT_ID</key>
	<string>api-project-866561535012</string>
	<key>STORAGE_BUCKET</key>
	<string>api-project-866561535012.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:866561535012:ios:900b64c4cdc1be2f</string>
	<key>DATABASE_URL</key>
	<string>https://api-project-866561535012.firebaseio.com</string>
</dict>
</plist>